VITE_FIREBASE_API_KEY=AIzaSyCkA910fAJd2CbLLU3JzXI1ff2Xw4WM9Zs
VITE_FIREBASE_AUTH_DOMAIN=co2-monitor-effff.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://co2-monitor-effff-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=co2-monitor-effff
VITE_FIREBASE_STORAGE_BUCKET=co2-monitor-effff.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1045222550408
VITE_FIREBASE_APP_ID=1:1045222550408:web:b9401d197d613b37de683d
